.calculator {
    max-width: 400px;
    border: 1px black solid;
    margin: 30px auto;
    
}

html {
    height: 100%;
    width: auto;
  }

body{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.full-height {
height: 100%;
}
  